.git
.github
.cursor
.env
.env.*
!.env.example
**/.DS_Store

node_modules
data
*.db
*.db-wal
*.db-shm
bin
tmp
coverage*
docs
*.md
LICENSE

# Not needed to compile cmd/server
e2e
cmd/screenshot
**/*_test.go
docker-compose.yml
Makefile
components.json
.gitignore
.dockerignore
